body {
    background-color: #2c3e50;
    overflow: hidden;
  }
  
  .btn {
    cursor: pointer;
  }
  body {
    color: #ffffff;
    text-align: center;
  }
  
  .clicked {
    color: #7f8c8d;
  }
  
  .form,
  .greetings {
    display: none;
  }
  
  .showing {
    display: block;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.65;
    }
  }
  
  .bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    animation: fadeIn 0.9s linear;
    opacity: 0.65;
  }

  h1{
    font-size:110px;
    margin-top:8%;
    margin-bottom:1%;
    letter-spacing: 3px;
    
  }

  .greetings{
    font-size:40px;
    margin:0;
    margin-bottom:2%;
    letter-spacing: 2px;

  }

input{
  margin-top:1%;
  width: 35%;
  height: 30px;
  text-align: center;
  font-size: 18px;
  border-radius: 10px;
  border:none;
}

.js-weather{
  position:fixed;
  bottom:4%;
  left:47%;
}

ul{
  list-style: none;
  font-size: 16px;
  margin-top: 32px;

}
li{
  margin-top:4px;
  font-weight: 700;
}

button{
  color: black;
  font-weight: 700;
  border-radius: 2px;
  background-color:rgb(211, 75, 75);
  border: none;
  position:absolute;
  right:30%;
  
}
